<%= form_for [@user, @workout] do |f| %>
	<div class="form-group">
		<%= f.label :workout_type, "Workout Type" %> 
		<div>
			<%= f.radio_button(:workout_type, "Cardio") %>
			<%= label_tag(:workout_type, "Cardio") %>
			<%= f.radio_button(:workout_type, "Strength Training") %>
			<%= label_tag(:workout_type, "Strength Training") %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :lift, "Type of Lift" %> 
		<%= f.text_field :lift, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :weight, "Weight (lbs)" %> 
		<%= f.number_field :weight, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :rep, "Reps" %> 
		<%= f.number_field :rep, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :set_count, "Sets" %> 
		<%= f.number_field :set_count, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.submit class: "btn btn-success" %>
	</div>

<% end %>