<div class="container-fluid">

		<div class="text-center">
			<h1>Workout of the Day</h1>
			<h3><%= Time.now.strftime("%A %B %e, %Y") %> </h3>
		</div>

		<div class="pull-left">
			<%= link_to "Add New Workout", new_user_workout_path, class: "btn btn-success" %>
		</div>
		<br>
		<br>

			<% @workouts.each do |w| %>
			<!-- <div class="panel panel-default"> -->
				<div>
					<h3><%= link_to w.lift, user_workout_path(w.user.id, w.id) %></h3>
				</div>
					<div>
						<strong><p><%= w.workout_type %></p></strong>
						<strong><p>Weight (lbs): <%= w.weight %></p></strong>
						<strong><p>Reps: <%= w.rep %></p></strong>
						<strong><p>Sets: <%= w.set_count %></p></strong>
					</div>

		<% end %>
	</div>