<br>
<div class="text-center">
	<%= link_to "See Your Workouts!", user_workouts_path(@user), class: "btn btn-primary" %>
</div>
<br>
<div class="container">
	<div class="well">

	 	<h1>Profile</h1>
	 			<div>
	 				<%= image_tag @user.profile_pic.url(:profile), class: "img-thumbnail" %>
	 			</div>
	 			<br>
	 			<div>
					<strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %>
				</div>
				<div>
					<strong>Age:</strong> <%= @user.age %>
				</div>
				<div>
					<strong>Gender:</strong> <%= @user.gender %>
				</div>
				<div>
					<strong>E-mail:</strong> <%= @user.email %>
				</div>
				<div>
					<strong>Location:</strong> <%= @user.location %>
				</div>
				<div>
					<strong>Primary Fitness Goal:</strong> <%= @user.goal %>
				</div>
		<br>
		<br>
		<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
	</div>
</div>