<br>
<div class="text-center">
	<%= link_to "See Your Workouts!", user_workouts_path(@user), class: "btn btn-primary" %>
</div>
<br>
<div class="container">
	<div class="well">
	 	<h1>Profile</h1>
				<strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %><br>
				<strong>Age:</strong> <%= @user.age %><br>
				<strong>Gender:</strong> <%= @user.gender %><br>
				<strong>E-mail:</strong> <%= @user.email %><br>
				<strong>Location:</strong> <%= @user.location %><br>
				<strong>Goals:</strong> <%= @user.goal %><br>
		<br>
		<br>
		<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
	</div>
</div>