<!DOCTYPE html>
<html>
<head>
  <title>FitnessApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">

<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand"><%= link_to "umirin?", root_path %></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   		 <% if current_user %>
	    		<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to "Log Out", logout_path %>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to current_user.first_name, @user if current_user%>
						</li>
					</ul>
				<% else %>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to "Sign Up", signup_path %>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to "Log In", login_path %>
						</li>
					</ul>
				<% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- 	<div class="pull-right">
		<#% if current_user %>
			Logged in as <%#= link_to logged in as current_user.first_name, @user if current_user%> | <%#= link_to "Log Out", logout_path, class: "btn btn-primary" %>
		<#% else %>
			<%#= link_to "Log In", login_path %> | <%#= link_to "Sign Up", signup_path, class: "btn btn-success" %>
		<#% end %>
	</div>
	 -->

	<!-- This is where the flash message will display -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <%= value %><br>
    </div>
  <% end %>


<%= yield %>

<div class="footer">App created by <a href="https://github.com/smshin7">Scott Shin</a> for General Assembly assignment</div>

</body>
</html>
